<?global $_STATIST;?>
<TABLE BORDER=0 cellpadding=2 cellspacing=1 width=100% class="viewdetails">

<thead>
 <tr>
  <td width="40%" class="header"> </td> 
  <td width="15%" class="header"><?=$datahead['today']?></td>
  <td width="15%" class="header"><?=$datahead['yesterday']?></td>
  <td width="30%" class="header">всего</td>
 </tr>
</thead>
<tbody>
<tr>
  <td>приходы</td>
  <td><?=$data['toDay']['All']?></td>
  <td><?=$data['lastDay']['All']?></td>
  <td><?=$data['All']['All']?></td>
</tr>

<tr>
  <td>пользователи</td>
  <td><?=$data['toDay']['AllUser']?></td>
  <td><?=$data['lastDay']['AllUser']?></td>
  <td><?=$data['All']['AllUser']?></td>
</tr>

<tr>
  <td>уникальные IP</td>
  <td><?=$data['toDay']['AllIP']?></td>
  <td><?=$data['lastDay']['AllIP']?></td>
  <td><?=$data['All']['AllIP']?></td>
</tr>

<tr>
  <td>поисков</td>
  <td><?=$data['toDay']['AllSearch']?></td>
  <td><?=$data['lastDay']['AllSearch']?></td>
  <td><?=$data['All']['AllSearch']?></td>
</tr>

<tr>
  <td>трафик</td>
  <td><?=$data['toDay']['AllSize']?></td>
  <td><?=$data['lastDay']['AllSize']?></td>
  <td><?=$data['All']['AllSize']?></td>
</tr>

</tbody>
</table>
