<tr valign="center"  align="left"  height="35" >
<td width="70">
<? if(!empty($data['doc'])){ 
	$ar_doc 	= explode('/',$data['doc']);
	$name_file 	= array_pop($ar_doc);
	$ar_doc[] 	='50x50';
	$ar_doc[] 	= $name_file;
	$data['doc'] = implode('/',$ar_doc);
?>

<img src="/reimg<?=$data['doc']?>" />
<? } ?>
</td>
<td width=600>
<a href='<?=$data['link']?>' style="text-decoration:none;">
	<?=$data['subj']?> <br />(<?=$data['desc']?>)
</a>
</td>
<td  width="150">
<? if(!empty($data['discount'])){ ?>
<span style="text-decoration: line-through; padding-left: 0;"><?=STR::price_sp($data['price_lost'])."&nbsp;р.";?></span><br />
<span class="gold">-<?=$data['discount'];?>%<br />
	<?=STR::price_sp($data['price']);?> р.</span>
<? }else{
	echo Str::price_sp($data['price'])."&nbsp;р.";
   }
?>
</td>
<form action='/basket/change' method='POST' name="form<?=$i?>">
<input type="hidden" name="BASKET[path]" value="<?=$subjs."|".$id?>">
<td  width="100">
<input type="text" name='BASKET[count]' size='5' value="<?=$data['count']?>" class="textField-04">
</td>
<td width="19"><a href="#" onclick="document.form<?=$i?>.submit()"
onmouseover="document.images['save<?=$i?>'].src='/templates/def/images/icon_save_on.gif'"
onmouseout="document.images['save<?=$i?>'].src='/templates/def/images/icon_save.gif'"><img src="/templates/def/images/icon_save.gif" width="19" height="19" border="0" name='save<?=$i?>' title='Пересчитать изменения'></a></td>
<td width="19">
<a href="/basket/del/?path=<?=$subjs."|".$id?>"
onmouseover="document.images['delete<?=$i?>'].src='/templates/def/images/icon_delete_on.gif'"
onmouseout="document.images['delete<?=$i?>'].src='/templates/def/images/icon_delete.gif'"><img src="/templates/def/images/icon_delete.gif" width="19" height="19" border="0" name='delete<?=$i?>' title='Удалить позицию'></a></td>
</form>
</tr>
<? 	if(!empty($data['discount'])){
		if(empty($min_discount) || $min_discount >= $data['discount']){
			$min_discount = $data['discount'];
		}
	}else{
		$min_discount = 0;
	}
?>