						<table class="" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; border:0px; border-collapse: collapse;font-size: 12px;  background-color: #f5f5d6;" width="100%">
							<thead>
								<tr>
									<th style="border-bottom-width: 0px;"></th>
									<th style="border-bottom-width: 0px;color: #f2ae00; font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-right: 5px;	font-weight: normal;padding-bottom: 5px; 	padding-left: 20px;">Наименование</th>
<?php
	/*
									<th style="color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 5px;">Серия <br />номенклатуры</th>
									<th style="color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 5px;">Проба</th>
									<th style="color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 5px;">Размер</th>
									<th style="color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 5px;">Вес</th>
									*/
?>
									<th style="border-bottom-width: 0px;color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 5px; width: 65px;">Кол-во</th>
									<th style="border-bottom-width: 0px;width: 95px; color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: center;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 5px;">Цена</th>
								</tr>
							</thead>
							<tbody>
<? $orders = 0; ?>
