	<tfoot>
		<tr align="left">
			<td></td>
			<td></td>
			<td></td>
			<td align="right"><strong>ВСЕГО:</strong>&nbsp;&nbsp;</td>
			<td><strong><?=STR::price_sp($data['summ'])?>&nbsp;р.</strong></td>
			<td><strong><?=$data['counts']?> шт.</strong></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tfoot>
</table>
<?php if($this->config['add2basket_db_alias']){ ?>
<form action="/clear/basketorders/order?alias=<?=$_GET['alias'];?>#tabs-2" method="post" >
	Добавить в корзину товар <input type="text" name="add_alias" value="" placeholder="Введите alias товара" /> <input type=submit name="submit" value="Добавить">
</form>
<? } ?>
</p>
</div>