							</tbody>
						</table>
						<table class="itog" cellpadding="0" cellspacing="0" align="left" style="width: 265px;">
							<tr>
								<th style="color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 0px;">Всего товаров</th>
								<td class="price" style="padding-left: 10px; padding-right: 5px;	font-weight: normal;text-align: left;font-size: 16px;"><?=$data['counts']?></td>
							</tr>
<?php
	/*							
							<tr>
								<th style="color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 0px;">Ваша скидка</th>
								<td class="price" style="padding-left: 10px; padding-right: 5px;	font-weight: normal;text-align: left;font-size: 16px;">1 000 р.</td>
							</tr>
	*/
?>
<?php if($data['delivery_summ']!==''){ ?>
							<tr>
								<th style="color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 0px;">Доставка</th>
								<td class="price" style="padding-left: 10px; padding-right: 5px;	font-weight: normal;text-align: left;font-size: 16px;"><?=STR::price_sp($data['delivery_summ'])?> р.</td>
							</tr>
<?php } ?>
							<tr>
								<th style="color: #f2ae00;	font-size: 12px;text-transform: uppercase;text-align: left;	vertical-align: bottom;	padding-left: 10px;	padding-right: 5px;	font-weight: normal;padding-bottom: 0px;">Итоговая стоимость</th>
								<td class="price" style="padding-left: 10px; padding-right: 5px;	font-weight: normal;text-align: left;font-size: 16px;"><?=STR::price_sp($data['summ']+$data['delivery_summ'])?> р.</td>
							</tr>
						</table>
